/* General */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm:1.4em;
    --md:1.6em;
    --lg:2em;
    }
    body{
        font-family: 'Quicksand', sans-serif;
    }
    html {
        font-size: 62.5%;
    }
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .inactive{
        display: none;
    }

/* navBar*/

    nav{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.1em solid var(--very-light-pink);
        width: 100%;
        padding: 0 4.5em;
    }
    .logo{
        width: 12em;
    }
    .nav-left ul,
    .nav-right ul{
        list-style: none;
        display: flex;
        align-items: center;
        font-size: var(--sm);
        font-weight: bold;
        margin-left: 2em;
        height: 5em;
    }
    .nav-left{
        display: flex;
    }
    .nav-left ul li a,
    .nav-left ul li a{
        text-decoration: none;
        color: var(--very-light-pink);
        border: 0.1em solid var(--white);
        border-radius: 0.5em;
        padding: 0.5em;
    }
    .nav-left ul li a:hover,
    .nav-left ul li a:hover{
        text-decoration: none;
        color: var(--hospital-green);
        border: 0.1em solid var(--hospital-green);
    }
    .nav-email{
        color: var(--very-light-pink);
        margin-right: 2.5em;
    }
    .nav-email:hover{
        cursor: pointer ;
    }
    .nav-right img{
        width: 2em;
    }
    .nav-cart div{
        display: none;
        color: var(--white);
        font-size: var(--sm);
        font-weight: bold;
        width: 1.3em;
        padding: 0 0.4em;
        height: 1.3em;
        border-radius: 5em;
        background-color: var(--hospital-green);
        position: absolute;
        top: 0.3em;
        right: 1.6em;
        
    }

    /* mini menu desktop */

    .menu-email{
        background-color: var(--white);
        position: absolute;
        top: 7em;
        right: 10.3em;
        width: 14em;
        height: auto;
        border: 0.1em solid var(--very-light-pink);
        border-radius: 0.6em;
        padding: 2em 2em 0 2em;
    }
    .menu-email ul{
        list-style: none;
    }
    .menu-email ul li{
        text-align: end;
    }
    .menu-email ul li:nth-child(1),
    .menu-email ul li:nth-child(2){
        font-weight: bolder;
    }
    .menu-email ul li:last-child{
       padding-top: 0.5em;
       border-top: 0.1em solid var(--very-light-pink);
       margin-top: 1em;
       margin-bottom: 1.5em;
    }
    .menu-email ul li:last-child a{
        color: var(--hospital-green);
        font-size: var(--sm);
    }
    .menu-email ul li a{
        color: var(--black);
        text-decoration: none;
        margin-top: 0.5em;
        display: inline-block;
        font-size: var(--md);
    }

    /*menu mobile */

    .burguerMenu{
        display: none;
    }
    .mobile-menu{
        position: absolute;
        top: 7em;
        left: 0em;
        font-weight: bold; 
        background-color: var(--white);
        border: solid 0.1em var(--very-light-pink);
        border-radius: 0.5em;
        padding: 1em;
        width: 100vw;
    }
    .mobile-menu a {
        text-decoration: none;
        color: var(--black);
        font-size: var(--md);
        background-color: var(--white);
    }
    .mobile-menu ul{
        list-style: none;
    }
    .mobile-menu ul:nth-child(2){
        border-top:  0.1em solid var(--very-light-pink);
        margin-top: 2em;
    }
    .mobile-menu ul li{
        margin: 2.4em 0 0;
    }
    .email{
        font-size: var(--sm);
        font-weight: 300;
    }
    .sign-out{
        color: var(--hospital-green) !important;
        font-size: var(--sm);
    }
    .mobile-menu ul:nth-child(3){
        margin-top: 2em;
        
    }

    /* Carrito compras */
    aside{
        width: 36em;
        position: absolute;
        right: 0;
        top: 7em;
        padding: 2em;
        background-color: var(--white);
        border: solid 0.1em var(--very-light-pink);
        border-radius: 1em;
    }
    .add-button{
        background-color: var(--hospital-green);
        border-radius: 0.6em;
        border: none;
        color: var(--white);
        padding: 0.3em;
        font-size: var(--md);
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title{
        font-size: var(--lg);
        margin-bottom: 1.8em;
        font-weight: bold;
        margin-left: 1em;
        margin-top: 1.7em;
    }
    .title-container{
        display: flex;
    }
    .title-container img{
       transform: rotate(180deg); 
    }
    .order{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em 0 2em;
        background-color: var(--text-input-field);
        margin-bottom: 2em;
        border-radius: 1em;
        font-size: var(--sm);
        font-weight: bold;
        height: 4em;
        border: 0.1em solid var(--hospital-green)
    }
    .order p:nth-child(1){
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }
    .shop-cart{
        display: flex;
        justify-content: space-between;
        gap: 1em ;
        margin-bottom: 2em ;
        align-items: center;
    }
    .shop-cart figure img{
        width: 10em;
        height: 7em;
        border-radius: 2em;
        border: 0.1em solid var(--hospital-green);
    }
    .shop-cart p:nth-child(2){
        color: var(--very-light-pink);
        font-size: var(--md);
    }
    .shop-cart p:nth-child(3){
        font-size: var(--md);
        font-weight: bold;
    }

    /*productos web*/

    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 24em);
        gap: 2em;
        place-content: center;
        margin-top: 2em;
    }
    .product-cards{
        width: 24em;
    }
    .product-cards img{
        width: 24em;
        height: 24em;
        border-radius: 2em;
        object-fit:fill;
    }
    .product-cards figure img{
        width: 3em;
        height: 3em;
    }
    .product-cards figure img{
        width: 3em;
        height: 3em;
    }
    .product-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product-info div p:nth-child(1){
        font-weight: bold;
        font-size: var(--md); 
    }
    .product-info div p:nth-child(2){
        font-size: var(--sm);
        color: var(--very-light-pink);
    }

    /* detalles producto */

    #product-detail > img:first-child{
        width: 2.5em;
        cursor: pointer;
        position: absolute;
        top: 1em;
        right: 32em;
        background-color: var(--white);
        border-radius: 2em;
    }
    #product-detail img:nth-child(2){
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 0 2em 2em;
    }
    .detail-info{
        margin:1.5em 2em 0 2em;
    }
    .detail-info p:first-child{
        font-weight: bold;
        font-size: var(--md);
        margin-bottom: 0.2em;
    }
    .detail-info p:nth-child(2){
        font-weight: bold;
        font-size: var(--md);
        color: var(--very-light-pink);
        margin-bottom: 2em;
    }
    .detail-info p:nth-child(3){
        font-size: var(--sm);
        color: var(--very-light-pink);
        margin-bottom: 2em;
    }

    /* media querys */

    @media(max-width :640px){
        .burguerMenu{
            display: block;
        }
        .nav-left ul{
        display: none;
        }
        .nav-email{
            display:none
        }
        nav{
            padding: 0 1em;
        }
        .logo{
            margin-left: 3.5em;
        }
        .menu-email{
            display: none;
    }
        aside{
            width: 100%;
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 14em);
        gap: 2em;
    }
    .product-cards{
        width: 14em;
    }
    .product-cards img{
        width: 14em;
        height: 14em;
        border-radius: 2em;
        object-fit: cover;
    }
}
    @media(min-width :840px){
    .nav-cart div {
        display: block;
    }
    
}